@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Karla', sans-serif, Arial;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
}

.container {
  width: min(1120px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}

p {
  margin: 0;
}

.button {
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: 100ms all;
}

.button:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}
